<!doctype html>
{% load static %}

{% load humanize  %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '' %}style.css">

    <title>Investment Banking</title>
  </head>
  <body>
        <div class="first_bar">
            <div class="container ">
                    <div class="namove ">
                        <a href="">location</a>
                        <a href="">career</a>
                        <a href="">contact</a>
                    </div>
            </div>
        </div>

        <!-- navbar -->

        <div class="banking">
            <div class="container">
                <div class="row justify-content-center">
                    <nav class="navbar navbar-expand-lg ">
                        <div class="container-fluid">
                          <a class="navbar-brand" href="index.html"><img src="https://image.shutterstock.com/image-vector/bank-icon-logo-vector-260nw-399995245.jpg" style="width:100px ;" alt=""> Investment Banking</a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Business</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Personal</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Mortage</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Savings</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </nav>
                </div>
            </div>
        </div>
      <!-- transfer page  -->
      <div class="transfer">
        <h3 class="title">transfer page</h3>
        <div class="container">
            <div class="row">
                <form action="{% url 'transfer' %}" method='POST'>
                  {% csrf_token %}
                  <div class="mb-3">
                    <h5 class=""> Available Balance: ${{sav_balance|floatformat:2|intcomma}}</h5>
                  </div>
                    <div class="mb-3">
                        <label for="exampleInputtext1" class="form-label">Amount</label>
                        <input type="text" name="m" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                      </div>
                    <div class="mb-3">
                        <label for="exampleInputtext1" class="form-label">Account Number</label>
                        <input type="text" name="b" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                      </div>
                    <div class="mb-3">
                        <label for="exampleInputtext1" class="form-label">Account name</label>
                        <input type="text" name="a" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                      </div>
                    <div class="mb-3">
                        <label for="exampleInputtext1" class="form-label">Purpose</label>
                        <input type="text" name="p" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                      </div>
                    <div class="mb-3">
                        <label for="exampleInputtext1" class="form-label">Bank address</label>
                        <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                      </div>
                    <div class="mb-3">
                        <label for="exampleInputtext1" class="form-label">Bank Name</label>
                        <input type="text" name="ba" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                      </div>
                    <div class="mb-3">
                        <label for="exampleInputtext1" class="form-label">Sender Name</label>
                          <input type="text" value="{{person}}" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
      </div>
        
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


  </body>
</html>